<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <% if user_signed_in? %>
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%= render partial: "form", locals: { prototype: @prototype } %>
      <% end %>
    </div>
  </div>
</div>